.shell-header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

.header-title {
    color: var(--header-text-color);
}

.shell-sidebar {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
}

.sidebar-button {
    color: var(--header-text-color);
}

.sidebar-button:hover {
    color: var(--header-hover-color) !important;
}


.login-background {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./assets/DF-Banner-2.png");
    background: rgba(0, 0, 0, 0.5), url("./assets/DF-Banner-2.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-banner {
    text-align: center;
    padding: 20vh;
    background: black;
    width: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}


.updates-carousel {
    margin: 0;
    color: #fff;
    background: var(--neutral-medium);
    text-align: center;
    overflow: hidden;
}

.updates-carousel .updates-slide {
    padding: 1rem;
    height: 95%;
}

.updates-carousel h2 {
    font-size: 7rem;
}

.updates-carousel .updates-description {
    font-size: 4rem;
}

.updates-kiosk-mode {
    height: 100vh;
}

