:root {
    --primary-color: #fa8c16;
    --primary-color-hover: #ffd591;
    --primary-color-active: #ad4e00;

    /* Secondary Colors */
    --secondary-color: #f5222d; /* Red for secondary accents */
    --secondary-color-hover: #ffa39e; /* Lighter red for hover */
    --secondary-color-active: #a8071a; /* Darker red for active */

    --header-bg-color: #141414; /* Dark gray/black for the header background */
    --header-text-color: #ffffff; /* White for header text */
    --header-accent-color: #f5222d; /* Orange for header highlights (e.g., active links) */
    --header-hover-color: #d9d9d9; /* Lighter orange for hover effects */

    /* Sidebar Colors */
    --sidebar-bg-color: #1f1f1f; /* Slightly lighter black for sidebar background */
    --sidebar-text-color: #ffffff; /* White for sidebar text */
    --sidebar-accent-color: #fa8c16; /* Orange for active/hover menu items */
    --sidebar-hover-color: #ffd591; /* Lighter orange for sidebar hover effects */
    --sidebar-border-color: #d9d9d9; /* Medium gray for sidebar borders */
    --sidebar-active-bg-color: #ad4e00; /* Slightly darker gray for active menu item background */

    /* Shared Colors */
    --neutral-light: #f5f5f5; /* Light gray for backgrounds */
    --neutral-medium: #d9d9d9; /* Medium gray for dividers or borders */
    --neutral-dark: #595959; /* Dark gray for secondary text */
    --text-primary: #141414; /* Black for primary text */
    --text-secondary: #595959; /* Dark gray for secondary text */
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-color: var(--neutral-light);
}

h1, h3, h5 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    color: var(--text-primary);
}

h2, h4, h6 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    color: var(--text-secondary);
}

p {
    margin: 0;
    color: var(--text-primary);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color-hover);
}

a:visited {
    color: var(--primary-color-active);
}

@font-face {
    font-family: Montserrat;
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

