.shell-sider {
    overflow: auto;
    height: 100vh;
    position: sticky;
    insetinlinestart: 0;
    top: 0;
    bottom: 0;
    scrollbarwidth: thin;
    scrollbargutter: stable;
}

.card-selection {
    opacity: 0 !important;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.card-selection.slick-initialized {
    opacity: 1 !important;
}


.ant-menu-item-group-title {
    font-weight: 700;
}

.ant-layout-header h1 {
    font-size: 16px; /* optional */
    font-weight: 400; /* optional */
    color: #797979; /* your desired color */
    margin: 0;
}

.ant-card h2 {
    text-transform: uppercase;
    color: #a9a9a9; /* your desired color */
    font-size: 16px; /* optional */
    font-weight: 700; /* optional */
}

/* Always show arrows */
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    opacity: 1 !important;
    z-index: 2;
    color: #797979;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* Hover effect */
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    color: #263ea0;
}

/* Arrow positioning (optional tweak) */
.ant-carousel .slick-prev {
    left: -25px; /* adjust as needed */
}

.ant-carousel .slick-next {
    right: -25px; /* adjust as needed */
}

.ant-card-body {
    height: 100%;
}

.login-background {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./assets/images/DF-Banner-2.png");
    background: rgba(0, 0, 0, 0.5), url("./assets/images/DF-Banner-2.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-banner {
    text-align: center;
    padding: 20vh;
    background: black;
    width: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.updates-carousel {
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.updates-carousel .updates-slide {
    padding: 1rem;
    height: 95%;
}

.updates-carousel h2 {
    font-size: 7rem;
}

.updates-carousel .updates-description {
    font-size: 4rem;
}

.updates-kiosk-mode {
    height: 100vh;
}

#camera-iframe-container {
    width: 100%;
    overflow: hidden; /* hide scrollbars */
}

#camera-iframe {
    overflow: hidden; /* hide scrollbars */
    transform: scale(0.8); /* scale down */
    transform-origin: top left;
    width: 125%; /* inverse of scale */
    height: 125%;
    border: none;
}
