.shell-sider {
    overflow: auto;
    height: 100vh;
    position: sticky;
    insetinlinestart: 0;
    top: 0;
    bottom: 0;
    scrollbarwidth: thin;
    scrollbargutter: stable;
}

.login-background {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./assets/DF-Banner-2.png");
    background: rgba(0, 0, 0, 0.5), url("./assets/DF-Banner-2.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-banner {
    text-align: center;
    padding: 20vh;
    background: black;
    width: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.updates-carousel {
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.updates-carousel .updates-slide {
    padding: 1rem;
    height: 95%;
}

.updates-carousel h2 {
    font-size: 7rem;
}

.updates-carousel .updates-description {
    font-size: 4rem;
}

.updates-kiosk-mode {
    height: 100vh;
}

#camera-iframe-container {
    width: 100%;
    height: 500px;
    overflow: hidden; /* hide scrollbars */
}

#camera-iframe {
    transform: scale(0.8); /* scale down */
    transform-origin: top left;
    width: 125%; /* inverse of scale */
    height: 125%;
    border: none;
}
